/* line 1, ../sass/menu.scss */
#block-selex-theme-main-menu {
  width: 75%;
  margin: auto;
  transition: height 1s;
}
/* line 5, ../sass/menu.scss */
#block-selex-theme-main-menu div.logo {
  display: none;
  cursor: pointer;
}
/* line 9, ../sass/menu.scss */
#block-selex-theme-main-menu .hamburger {
  display: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
/* line 25, ../sass/menu.scss */
#block-selex-theme-main-menu .cross {
  display: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 20px 20px 0px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
/* line 41, ../sass/menu.scss */
#block-selex-theme-main-menu .menu {
  margin-left: 0px;
}
/* line 43, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 9px;
}
/* line 49, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li:nth-child(2) {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 53, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li a {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}
/* line 58, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li a img.logo {
  width: 60%;
}
/* line 61, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li a:hover {
  color: #ff8000;
}
/* line 65, ../sass/menu.scss */
#block-selex-theme-main-menu .menu li a.active {
  color: #ff8000;
}
/* line 69, ../sass/menu.scss */
#block-selex-theme-main-menu .menu .home {
  width: 40%;
  padding-right: 65%;
  margin-left: -15px;
}
/* line 73, ../sass/menu.scss */
#block-selex-theme-main-menu .menu .home img {
  transition: width 1ms;
}

/* line 79, ../sass/menu.scss */
#block-languageswitcher {
  position: absolute;
  right: 20%;
}
/* line 82, ../sass/menu.scss */
#block-languageswitcher ul {
  display: inline-block;
}
/* line 84, ../sass/menu.scss */
#block-languageswitcher ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

/* line 91, ../sass/menu.scss */
.fixed {
  width: 100%;
  background: #fff;
  position: fixed;
  top: -130px;
}
/* line 96, ../sass/menu.scss */
.fixed #block-selex-theme-main-menu {
  width: 100%;
  text-align: center;
}
/* line 99, ../sass/menu.scss */
.fixed #block-selex-theme-main-menu div.logo {
  display: inline-block;
  align-items: center;
}
/* line 103, ../sass/menu.scss */
.fixed #block-selex-theme-main-menu .menu {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 107, ../sass/menu.scss */
.fixed #block-selex-theme-main-menu .menu .home {
  display: none;
}
/* line 112, ../sass/menu.scss */
.fixed #block-languageswitcher {
  display: none;
}

@media only screen and (max-width: 1600px) {
  /* line 117, ../sass/menu.scss */
  #block-selex-theme-main-menu {
    width: 100%;
    padding-top: 20px;
  }
  /* line 120, ../sass/menu.scss */
  #block-selex-theme-main-menu div.logo {
    display: initial;
    text-align: center;
    margin-left: 5%;
  }
  /* line 124, ../sass/menu.scss */
  #block-selex-theme-main-menu div.logo img {
    height: 100px;
  }
  /* line 128, ../sass/menu.scss */
  #block-selex-theme-main-menu .menu {
    text-align: center;
  }
  /* line 130, ../sass/menu.scss */
  #block-selex-theme-main-menu .menu .home {
    display: none;
  }

  /* line 135, ../sass/menu.scss */
  .fixed {
    top: -130px;
  }
  /* line 137, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu {
    padding: 0px;
  }
  /* line 139, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu div.logo {
    display: flex;
    margin-left: 5%;
  }
  /* line 142, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu div.logo img {
    height: 80px;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 151, ../sass/menu.scss */
  #block-selex-theme-main-menu {
    height: 100px;
  }
  /* line 153, ../sass/menu.scss */
  #block-selex-theme-main-menu .menu {
    display: none;
  }
  /* line 156, ../sass/menu.scss */
  #block-selex-theme-main-menu .logo {
    display: none;
  }

  /* line 160, ../sass/menu.scss */
  .fixed {
    top: 0;
  }
  /* line 162, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu {
    height: auto;
  }
  /* line 164, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu .menu {
    display: none;
  }
  /* line 166, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu .menu li {
    display: block;
  }
  /* line 170, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu div.logo {
    display: block;
    text-align: left;
  }
  /* line 173, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu div.logo img {
    display: block;
  }
  /* line 177, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  /* line 186, ../sass/menu.scss */
  #block-languageswitcher {
    display: block;
    position: fixed;
    top: 45%;
    right: 0px;
  }
  /* line 192, ../sass/menu.scss */
  #block-languageswitcher ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 201, ../sass/menu.scss */
  #block-selex-theme-main-menu {
    display: none;
  }

  /* line 205, ../sass/menu.scss */
  .fixed #block-selex-theme-main-menu {
    display: block;
  }
}
