<div class="highlight">
  <div class ="text" > {{ text }} </div>
  <div class="angle-view" id="angle-view-demo">
    <ul>
    {% for key,value in images %}
    <li><img src="{{ value }}" alt="01" /></li>
  {% endfor%}
    </ul>
 </div>
</div>